<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/angular.min.js}" />
    <script>

        var app = angular.module("app", []);

        var ctrl = app.controller('formCtrl', function($scope) {

        });

    </script>
</head>
<body ng-app="app">

<ul>
    <li th:each="field : ${form.fields}" th:attr="ng-show='${field.ngShow}'">
        <span th:text="${field.name}" th:attr="ng-show='${field.ngShow}'"></span> : <input type="text" th:value="${field.value}" />
    </li>

</ul>

</body>
</html>